<html>
<head>
    {% load static %}
	<title>Sign In</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript">window.setTimeout("document.getElementById('alert_div').style.display='none';", 3000);</script>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            line-height: 1.8;
            }

        .alert
        {
        	transition: opacity 0.6s;
        }
    </style>
</head>
<body>
{% if Success %}
	<div class="alert alert-danger" id="alert_div">
		<strong>Danger!</strong>  {{Success}}
	</div>
{% endif %}
<div id="border1" style="width: 320px;height: 400px;position: absolute;top:0;bottom: 0;left: 0;right: 0;margin: auto;padding-top:25px">
	<div style="margin-left:30px;"><h3>Sign In</h3></div>
	<br>
	<div class="container" style="margin:0px 0px 100px 17px;width:270px;">
		<form method="POST" enctype="multipart/form-data" action="/bands/loginValidation/">
        {% csrf_token %}
		<div class="form-group">
			<input type="text" class="form-control" name="uemail" id="uemail" placeholder="Enter Email" style="width:250px;" required>
		</div>
		<div class="form-group">
			<input type="password" class="form-control" name="upassword" id="upassword" placeholder="Enter Password" style="width:250px;" required>
		</div>
		<input type="submit" value="Sign In" name="login" class="btn btn-primary btn-block" style="width:250px;margin-bottom:0px;"><br>
		<hr>
		<a class="btn btn-info pull-right" style="width:250px;margin-top:10px;background-color:#007bff;" href="/bands/signup"> Create your account</a>
</form>
</div>
</div>
</body>
</html>
