<html lang="en">
<head>
    {%load static %}
	<title>Add New Category</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'pp.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        body {
              background: #f1f1f1;
              font-family: 'Open Sans', sans-serif;
              line-height: 1.8;
            }
        .container {
              margin:0 auto; /* this will center the page */
              width:1200px; /*  use your width here */
            }

        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="margin-bottom:10px;border-bottom: solid 1px #ddd;">
         <a class="navbar-brand" href="/bands/admin"><span style="margin-left:100px;">BuyNSell</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText" style="margin-left:100px;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/bands/admin">Admin Home<span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <div>
          <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="#">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
        </div>
      </div>
    </nav>

<div align="center" class="container" style="margin-top:20px;">
        <form method="POST" action="/bands/savecategory">
            {% csrf_token %}
            <label class="radio-inline" style="margin-right:10px;"><input type="radio" name="optradio" onchange="radio_function()" value="existing" checked="checked"><span style="margin-left:10px;">Add to Existing Category</span></label>
            <label class="radio-inline" style="margin-left:10px;"><input type="radio" name="optradio" onchange="radio_function()" value="new"><span style="margin-left:10px;">Create New Category</span></label>
            <div class="col-xs-12" style="height:10px;"></div>
            <label for="cat_option">Select Existing Category:</label>
            <select class="form-control" id="cat_option" name="cat_option" style="width:300px">
                {% for cat in cats %}
                <option value="{{cat.cat_name}}">{{cat.cat_name}}</option>
                {% endfor %}
            </select>
            <label style="margin-top:10px;">OR</label>
            <input class="form-control" id="new_cat" name="new_cat" type="text" disabled="disabled" placeholder="New Category" style="width:300px">
            <div class="col-xs-12" style="height:10px;"></div>

            <input class="form-control" id="sub_cat" name="sub_cat" type="text" placeholder="Sub-Category" style="width:300px">

            <label style="margin-top:10px">Add Attribute:</label>

                <div class="row" style="width:300;">
                    <input type="text" name="attribute_name" style="width:220px;" id="attribute_name" class="form-control" placeholder="Attribute Name">
                    <button type="button" onclick="add_att()" class="btn btn-primary" style="width:70px; margin-left:10px;">Add</button>
                </div>

            <label for="delete_att" style="margin-top:10px">Remove Attribute</label>

            <div class="row" style="margin-top:10px;width:300;" align="center">
                    <select class="form-control" name="delete_att" id="delete_att" style="width:220px"></select>
                    <button type="button" onclick="del_att()" class="btn btn-primary" style="width:70px; margin-left:10px;">Delete</button>
            </div>
            <div class="row" style="margin-top:10px;width:300;">
                <div class="input-group" style="width:220px;margin-top:10px;">
                        <input type="text" class="form-control" placeholder="Add Category Icon" readonly></div>
                    <label class="input-group-btn" style="margin-bottom:0px;margin-top:10;width:70;">
                        <span class="btn btn-primary">
                            Browse<input type="file" style="display: none;" multiple>
                        </span>
                    </label>
            </div>
            <div style="margin-top:40px;"></div>
            <input type="submit" value="Save" class="btn btn-primary" style="width:300;height:45;"></input>
        </form>
    </div>
</div>
<script type="text/javascript">
        function del_att()
        {
            var select=document.getElementById("delete_att");
            var selected=select.options[select.selectedIndex];
            selectedvalue=selected.value;
            for (var i=0; i<select.length; i++){
                if (select.options[i].value == selectedvalue)
                select.remove(i);
            }

            $.post("/bands/deletefromsession/",{myvalue:selectedvalue}, function(response){
                alert(response);
                })
        }

        function add_att()
        {
            var att_name=document.getElementById("attribute_name");
            var option=document.createElement("option");
            if(att_name.value!="")
            {
                option.text=att_name.value;
                option.value=att_name.value;
                option.name=att_name.value;
                var select=document.getElementById("delete_att");
                select.appendChild(option);
                $.post("/bands/addtosession/",{myvalue:option.value}, function(response){
                    alert(response);
                    })
            }
        }

        function radio_function()
        {
            var dropdown=document.getElementById("cat_option");
            var textbox=document.getElementById("new_cat");
            if(dropdown.disabled)
            {
                textbox.value="";
                dropdown.disabled=false;
                textbox.disabled=true;
            }
            else
            {
                dropdown.value="";
                dropdown.disabled=true;
                textbox.disabled=false;
            }
        }
</script>
</div>
</body>
</html>